.top_header{
	background-color : red;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.menu {
	list-style-type: none;

}

.menu li {
	
	display: inline;
	
}



.menu li a {
	background-color: lightblue;
	padding: 5px;
}

.menu li a:hover {
	background-color: blue;
	color: white;
}



.footer {
	text-align: center;
}