.login-page {
	width: 500px;
	height: 400px;
	margin: 20px auto;
	border: 1px solid black;
	padding: 20px;
	border-radius: 10px;
}
.form-group label {
	margin-bottom: 5px;
}
.form-group {
	margin: 5px 0;
}
.form-group input {
	display: block;
	width: 100%;
	height: 1.5em;
	font-size: 1.5em;
}
.btn {
	height: 1.5em;
	font-size: 1.5em;
	margin: 5px 0;
}

.error{
	font-style: italic;
	color:red;
}